services:
  fastify-app:
    build: .
    environment:
      # LISTEN_PORT: 5000
      LISTEN_ADDRESS: '0.0.0.0'
    ports:
      - "8000:3000"
    volumes:
      - ./src:/app  # Mount local project folder into the container
      - /app/node_modules  # Prevent overwriting node_modules

